@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Asap:400,700italic);
html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Montserrat','Helvetica Neue',Arial,sans-serif;
    color: #001A33;
    webkit-tap-highlight-color: #222;
    top:0;
}

/* workaround modal-open padding issue */
body.modal-open {
    padding-right:0 !important;
}

hr {
    max-width: 120px;
    border-width: 3px;
    opacity: 0.08;
    margin-top: 25px;
    margin-bottom: 25px;
}

hr.light {
    border-color: #fff;
    opacity: 1;
}

hr.primary {
    border-color: #007F0E;
    opacity: 1;
}

a {
    color: #007F0E;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #222;
    outline: 0;
}

p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 20px;
    font-family:'Helvetica Neue',Arial,sans-serif;
}

h1.brand {
    font-family: 'Asap','Helvetica Neue',Arial,sans-serif;
    color: #001A33;
    top:0;
    font-weight: bold;
    font-size: 7.25em !important;
    font-style: oblique;
}

h1.brand > span, .navbar-brand > span {
    color: #7F3300;
    font-style: oblique !important;
}

.navbar-brand > span {
    font-size: 1.35em;
}

h1.brand > span + span, .navbar-brand > span + span {
    color: #007F0E;
    font-style: oblique !important;
}

header .header-content .inner p {
    margin-bottom: 20px;
    font-size: 20px !important;
    font-weight: 300;        
    padding-left: 0;
    padding-right: 20px;
    color: #222;
}

/* responsive welcome */
@media(min-width:48em) {
    .header-content img {
        float: left;
        width: 500px;
        height: 334px;
        margin-left: .1rem;
    }
    header .header-content .inner p {
        font-size: 24px !important;
    }
}
@media(max-width:960px) {
    .header-content img {
        float: none;
        width: 300px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        break-after: always;
    }
    h1.brand {
        font-size: 4.25em !important;
        font-style: oblique;
    }
    header .header-content .inner p {
        margin-bottom: 20px;
        font-size: 13px !important;
    }
    .calendar tr th:first-of-type, .calendar tr th:last-of-type, .calendar tr td:first-of-type, .calendar tr td:last-of-type {
        display: none;
    }
    .calendar {
        padding: 0 5% 0 5% !important;
    }
}


.navbar-nav>.nav-item {
    margin-left: 50px;    
    margin-right: 10px;
}

section {
    min-height: 100% !important;
}

.hidden {
    display: none;
}

button:disabled {
    opacity: 0.25;
}

.calendar {
    padding: 0 10% 0 10%;
}

.calendar .table-container {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.calendar tr.yellow {
    background-color: #F9C65E;
    color: black;
}

.calendar tr.blue {
    background-color: #162972;
    color: white;
}

.calendar tbody td.holiday {
    background-color: #E61919;
    color: white;
}

.calendar tbody td.holiday h6 {
    position: absolute;
    font-weight: light;
    font-family: helvetica, sans-serif;
    top: 8px;
    left: 15px;
    font-size: 13px;
}

.calendar tr th {
    height: 24px;
    text-align: center;
    vertical-align: middle;
    width: 14%;
}

.calendar tr th:first-of-type, .calendar tr th:last-of-type {
    width: 15%;
}

.calendar tr td {
    height: 90px;
    text-align: right;
    vertical-align: top;
    padding: 3px 6px 0 0;
    position: relative;
}

.calendar tr p {
    position: absolute;
    font-weight: bold;
    font-family: inherit;
    line-height: 16px;
    font-size: 15px;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 32px;
}
.calendar .title {
    font-size: 1.5em;
    text-align: center;
}

@media(max-width:480px) {
    .calendar tr p {
        line-height: 13px;
        font-size: 12px;
    }  
}

#geolocate-form input[type=text].not-mobile {
    color: #d92121;
    text-align: center;
}

#specify-form .btn-group button {
    font-size: 1.15em;
    font-weight: light;
    padding: 5px 8px 5px 8px;
    break-after: always;
}
#specify-form .btn-group button.selected {
    background-color: rgb(204, 204, 204);
}
#specify-form .dropdown-toggle {
    width: 150px; 
    text-align: left;
}
#specify-form::after {
    float: right;
}
button.yellow {
    color: #F9C65E;
    -webkit-text-stroke: 1px black;
    text-shadow:
        1px 1px 0 #000,
        -1px -1px 0 #000
}
button.blue {
    color: #162972;
    -webkit-text-stroke: 1px #000;
    text-shadow:
        1px 1px 0 fff,
        -1px -1px 0 fff
}


#schedule #address {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}

.text-normal {
    font-family:'Helvetica Neue',Arial,sans-serif;
}

#address-form input[type=text] {
  text-transform: uppercase;
}
#address-form input[type=text]::-moz-placeholder {
  text-transform: none;
}
#address-form input[type=text]:-ms-input-placeholder {
  text-transform: none;
}
#address-form input[type=text]::-webkit-input-placeholder {
  text-transform: none;
}

.wide-space {
    letter-spacing: 1.6px;
}

.icon-lg {
    font-size: 50px;
    line-height: 18px;
}

.bg-primary {
    background-color: #007F0E;
}

.bg-alt {
    background-color: #fff;
}

.text-faded {
    color: rgba(245,245,245,0.7);
}

.text-dark {
    color: #001A33;
}

.text-light {
    color: #fff;
}

.text-light:hover,.text-light:focus {
    color: #eee;
    text-decoration:none;
}

.text-primary {
    color: #007F0E;
}

section {
    padding: 70px 0;
}

aside {
    padding: 45px 0;
}

footer {
    padding: 45px;
    padding-top: 40px;
    background-color: #DEB887;
}

footer h4, footer h6 {
    color:#fff;
}

.navbar-default {
    border-color: rgba(35,35,35,.05);
    background-color: #fff;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.navbar-brand {
    color: #007F0E;
    padding: 1px;
    line-height: 1.90em;
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;
    float:none;
    font-family: 'Asap','Helvetica Neue',Arial,sans-serif;
    font-weight: bold;
    font-style: oblique;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #007F0E;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #001A33;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    font-size: 12px;
    color: #001A33;
    text-transform: uppercase;
}

.navbar-default .nav>li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #007F0E;
}

.navbar-default .nav .nav-link.active,
.navbar-default .nav .nav-link.active:focus {
    color: #007F0E !important;
    background-color: transparent;
}

/* responsive nav */
@media(max-width:48em) {
    .navbar-default .navbar-nav>.nav-item {
        float: none;
        margin-left: .1rem;
    }
    .navbar-default .navbar-nav {
        float:none !important;
    }
}

@media(min-width:48em) {
    .navbar-default {
        border-color: transparent;
        background-color: #fff;
        min-height: 60px;
    }

    .navbar-brand {
        color: #007F0E;
        float: left;
        padding: 9px;
        padding-left: 1px;
    }

    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:focus {
        color: #001A33;
    }
    
    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: #001A33;
        padding-left: 5px;
        padding-top: 21px;
        letter-spacing: 1.1px;
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #001A33;
    }

    #topNav {
      background-color:#fff;
    }
    
}

header {
    position: relative;
    min-height: auto;
    text-align: center;
    color: #001A33;
    width: 100%;
    background-color: #fff;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index: 2;
}

header .header-content .inner h1 {
    margin-top: 0;
    margin-bottom: 0;
}

header .header-content .inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: #222;
}

@media(min-width:34em) {
    .icon-lg {
        font-size: 80px;
    }
    
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .inner h1 {
        font-size: 53px;
    }

    header .header-content .inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
    
    section {
        min-height: 600px;
        padding: 100px 0;
    }

}

.list-group-item, .card-footer {
    background-color:transparent;
}

textarea {
    resize: none;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.btn.btn-primary {
    background-color: transparent;
    border:1px solid #007F0E;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    color:#007F0E;
}

.btn.btn-primary:hover {
    opacity: 0.7;
}

.btn-primary-outline {
    border-color:#007F0E;
    color:#007F0E;
}
.btn-primary-outline:hover {
    background-color:#007F0E;
}

.btn-xl {
    padding: 15px 30px;
    font-size: 20px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}
